@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after
  box-sizing: inherit;
}

.left-ear {
  transition: all 1s linear;
  transform-origin: 100px 80px;
}

.head:hover .left-ear {
  transform: rotate(10deg);
}

.right-ear {
  transition: all 1s linear;
  transform-origin: 120px 100px;
}

.head:hover .right-ear {
  transform: rotate(-7deg);
}

.left-eye {

}

.right-eye {

}

.eyes {
  animation: shiftyeyes 1500ms linear infinite;
}

@keyframes shiftyeyes {

  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(30px, 0px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  75% {
    transform: translate(-30px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }

}

.st0{fill:#673200;}
.st1{fill:#FFAACA;}
.st2{fill:#C65B00;}
